.container-gray{
    background-color: #eee;
    width: 65%;
    padding: 4em;
}
.container-porque-reservar-vueling{
    display: flex;
    justify-content: center;
}

.titular-teinteresa {
    display:flex;
    align-items: center;
    width: 92%;
    margin-left: 7em;
}
.pic{
    border-radius: 15px;
}

.titular-inspirate {
    display:flex;
    align-items: center;
    width: 86%;
    margin-left: 7em;
}

.linea_gris{
    width: 45em;
    height: 4px;
    background-color: #eee;
}
.titular{
    padding-right: 15px;
    font-size: 2em;
    width: 256gitpx;
    padding: 0px 10px 0px 10px;
    color: #666;
}
.titular-inspirate img{
    padding: 0px 15px;
}
.titulo{
    text-align: center;
}
.linea{
width: 45em;
height: 4px;
background-color: #eee;
}
.container-select{
    text-align: center;
    width: 86%;
    margin: 0em 0em 2em 5em;
    color: #666;
    font-size: 2em;
    
}
.titular-teinteresa img{
    padding-left: 1em;
}
.container-pictures {
    display: flex;
    justify-content: space-around;
}

.puntitos{
display: flex;
padding-left: 18em;
}
.container-tres-imagenes-teinteresa{
    display: flex;
    justify-content: center;
}
.container-ventajas{
    display: flex;
    text-align: center;
}
