.container-main{
    display: flex;
    background-color: #eee;
    justify-content: center;
    max-width: 50%;
    padding-left: 2em;
    margin-left: 30em;
}



.titular-inspirate {
    display:flex;
    align-items: center;

}
.linea_gris{
    width: 45em;
    height: 4px;
    background-color: #eee;
}
.titular{
    padding-right: 15px;
}
.titular-inspirate img{
    padding: 0px 15px;
}
.titulo{
    text-align: center;
}