.center_align_items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.center_align_items img{
    border-radius: 10px;
    position: relative;
    bottom: 10%;
}
.container_before_footer{
    background-color: #eee;
    width: 100%;
    padding: 2em 18em 3em 21em;
    font-size: 97%;
    color: #666;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}
.pic{
    border-radius: 15px;
    width: 22%;
}
.headline{
    display:flex;
    align-items: center;
    width: 86%;
    margin-left: 7em;
}
.headline h3{
    color: #eee;
}
.line{
    width: 45em;
    height: 4px;
    background-color: #eee;
}
.headline img{
    padding: 0px 15px;
}
.linea{
width: 45em;
height: 4px;
background-color: #eee;
}
.airports{
    text-align: center;
    width: 86%;
    margin: 0em 0em 2em 5em;
    color: #666;
    font-size: 2em;
}
.promotions>h3{
    padding-left: 1em;
}
.container-pictures {
    display: flex;
    justify-content: space-around;
}
.line_dotted{
    background-image: image("img/puntitos.png");
    display: flex;
    justify-content: center;
}
.paragraph{
    padding-bottom: 4%;
}
.container-advantages{
    display: flex;
    text-align: center;
    width: 70%;
    padding: 0% 13%;
}
.container-advantages span {
    font-weight: bold;
}
.title {
    width: 100%;
    color: #666;
    font-size: 22px;
    padding-top: 60px;
    padding-left: 510px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}
.searcher {
    background-image: url(../img/background_home4.jpg);
    background-repeat: no-repeat;
    height: 300px;
    padding-bottom: 25px;
}
.option_master {
    height: 24px; 
}
.option_tab {
    color: rgb(51, 51, 51);
    display: inline-block;
    list-style: none;
    background: rgb(255, 204, 0);
    cursor: pointer;
}
.option2_tab {
    color: rgb(51, 51, 51);
    display: inline-block;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font: inherit;
    vertical-align: baseline;
    line-height: 1.2;
    margin: 0;
    font-size: 14px;
    position: relative;
    color: #333;
    height: 33px;
}
.tab_master {
    width: 1200px;  
}
.vuelos_search {
    display: inline-block;  
}
.car_search {
    padding-top: 4px;
}
.holiday_search {
    padding-top: 4px;
}
.check_search {
    padding-top: 4px;
    height:33px;
}
.book_search {
    padding-top: 4px;
    height: 37px;
}
.vuelos_search::before {
    content: url(../img/avion.png);
}
.hotel_search::before {
    content: url(../img/hotel.png);
}
.car_search::before {
    content: url(../img/coche.png);
}
.holiday_search::before {
    content: url(../img/cocheyhotel.png);
}
.check_search::before {
    content: url(../img/cheking.png);
}
.book_search::before {
    content: url(../img/poleas.png);
}
li {
    padding-left:12px;
}
.first_option {
    float: left;
}
.option_tab {
    float: left;
    background: rgb(255, 204, 0);
    height: 40px;
}
.tab_content {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    margin-left: 41px;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: block;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
    border-top-left-radius: 0;
    background-color: #fc0;
}
#search_form {
    display:flex;
    align-items: flex-end;
}
.form_input_label {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    vertical-align: baseline;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    line-height: 1.1;
    color: #999;
    padding-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.form_control {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    display: table-cell;
    font-family: "BrandonText-Regular",Calibri,Verdana;
    width: 100%;
    height: 22px;
    color: #333;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    position: inherit;
    font-size: 16px;
}
.form_origin {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px 10px 10px;
    border: 1px solid #fff;
    background-color: #fff;
    transition-duration: 0s;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #ddd;
    width: 25%;
}
.form_destination {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px 10px 10px;
    border: 1px solid #fff;
    background-color: #fff;
    transition-duration: 0s;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    border-left: 1px solid #ddd;
    width: 25%;
}
.form_date {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px 10px 10px;
    border: 1px solid #fff;
    background-color: #fff;
    transition-duration: 0s;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    border-left: 1px solid #ddd;
    width: 25%;
}
.passangers {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: table;
    position: relative;
    cursor: pointer;
    display: inline;
    border: 1px solid #fff;
    background-color: #fff;
    transition-duration: 0s;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.button_search {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none !important;
    transition: all .15s ease-in;
    border: 2px solid #fc0;
    font-weight: 600;
    white-space: initial;
    line-height: 1.3em;
    color: #fff;
    padding: 11px 35px;
    border-radius: 50px;
    position: relative;
    font-family: "BrandonText-Regular",Calibri,Verdana !important;
    padding-right: 43px;
    width: 16%;
    font-size: 18px;
    min-height: 50px;
    background-color: #666;
    border-color: #666;
}
.form_fields_input {
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    background: transparent;
    width: 100%;
}

.cocheyhotel {
    display: flex;
    width: 100%;

}
.coche{
    width: 50%;
}


.hotel {
    width: 50%;
}
.hotel2 {
    position: absolute;
    
    max-width: 50%;
    
}
.vuelingclub {
    float: left;

}

.coche3 {
    padding-top: 44px;
    padding-left: 170px;
}
.recuadro {
    padding-left: 30px;
    background-color: #eee;
    padding-top:96px;
    width: 120%;
    height: 260px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

    
}


.container {
    display: flex;
    padding-top: 70px;
}

.grancanaria {
    width: 40%;
    padding-top: 50px;
    padding-left: 200px;
}
.asturias {
    padding-left: 50px;
    padding-right: 30px;
}
.galicia {
    padding-right: 30px;
}

.hotel3 {
    padding-top: 35px;
    padding-left: 170px;
    position: relative;
    top: 60px;
    color: gray;
    border-bottom-color: yellow;
}
.flex-grancanaria {
    
padding-left: right;
}
.alquiler {
    position: absolute;
    top: 20px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.reserva {
    position: absolute;
    top: 20px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.button {
    cursor:pointer;
    outline: 0;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    transition: all;
    border: 2px solid #fc0;
    background-color: #fc0;
    font-weight: 600;
    white-space: initial;
    line-height: 1.3em;

}
